%h3 GENERAL
%div{:class=>"ego_container panel"}
  = label_tag :rate_lookup_error, "General Error Message", style: "width:100%;"
  = text_area :carrier_preference, :rate_lookup_error
%h3 SHIPPING PROVIDERS  
%div{:class=>"ego_container panel"}
  = check_box :carrier_preference, :offer_e_go
  = label_tag :off_ego, "E-Go", :id=>"off_ego_label"
  %div{:class=>"ego_options"}
    = label_tag :ego_depot_option, "Depot Option"
    = select :carrier_preference, :ego_depot_option, options_for_select([['door2door',''],['depot2door','depot2door']])
    %br
    = label_tag :ego_explanation, "Shipping Method Description" 
    = text_area :carrier_preference, :ego_explanation
%div{:class=>"ego_container panel"}
  = check_box :carrier_preference, :offer_australia_post
  = label_tag :off_aus_post, "Australia Post", :id=>"off_aus_label"
  %br
  %div{:class=>"aus_post_options"}
    - service_list_aus = {:AUS_PARCEL_REGULAR =>"Regular Parcel",
                          :AUS_PARCEL_EXPRESS => "Express Post Parcel",
                          :AUS_PARCEL_PLATINUM => "Express Post Platinum Parcel"}
    %div{:class=>"carrier-section"}Domestic    
    %table(class="twelve")
      %tr(class="header") 

        %td 
        %td Shipping Method
        %td Shipping Method Name
        %td Shipping Method Description        
      - Preference.AusPostParcelServiceListDom.each {|key, method_name|
      %tr 
        %td
          = check_box_tag("shipping_methods_dom[#{key}]", value="1", @preference.shipping_methods_allowed_dom[key.to_s])      
        %td 
          = method_name
        %td
          -disabled = true
          -if key == :AUS_PARCEL_REGULAR_SATCHEL_500G
            -method_key = :AUS_PARCEL_REGULAR
          -elsif  key == :AUS_PARCEL_EXPRESS_SATCHEL_500G
            -method_key = :AUS_PARCEL_EXPRESS          
          - elsif  key == :AUS_PARCEL_REGULAR_SATCHEL_3KG
            -method_key = :AUS_PARCEL_REGULAR          
          - elsif  key == :AUS_PARCEL_EXPRESS_SATCHEL_3KG
            -method_key = :AUS_PARCEL_EXPRESS          
          - elsif  key == :AUS_PARCEL_REGULAR_SATCHEL_5KG
            -method_key = :AUS_PARCEL_REGULAR          
          - elsif  key == :AUS_PARCEL_EXPRESS_SATCHEL_5KG
            -method_key = :AUS_PARCEL_EXPRESS                    
          - else
            -disabled = false          
            -method_key = key
          = text_field_tag("shipping_methods_desc_dom[#{key}]", @preference.shipping_methods_desc_dom[method_key.to_s].nil? ? method_name : @preference.shipping_methods_desc_dom[method_key.to_s], :disabled =>disabled)   
        %td
          = text_area_tag("shipping_methods_long_desc_dom[#{key}]", @preference.shipping_methods_long_desc_dom[method_key.to_s].nil? ? method_name : @preference.shipping_methods_long_desc_dom[method_key.to_s], :disabled => disabled)
      -}  
    %div{:class=>"carrier-section"} International
    %table
      %tr(class="header") 
        %td 
        %td Shipping Method
        %td Shipping Method Name
        %td Shipping Method Description  
      
      - service_list_int =  {:INTL_SERVICE_ECI_M =>"Express Courier International Merchandise",
        :INTL_SERVICE_EPI => "Express Post International",
        :INTL_SERVICE_AIR_MAIL => "Air Mail"}
      - Preference.AusPostParcelServiceListInt.each {|key, method_name|
      %tr 
        %td
          = check_box_tag("shipping_methods_int[#{key}]", value=1, @preference.shipping_methods_allowed_int[key.to_s])      
        %td 
          = method_name
        %td
          = text_field_tag("shipping_methods_desc_int[#{key}]", @preference.shipping_methods_desc_int[key.to_s].nil? ? method_name : @preference.shipping_methods_desc_int[key.to_s])    
        %td
          = text_area_tag("shipping_methods_long_desc_int[#{key}]", @preference.shipping_methods_long_desc_int[key.to_s].nil? ? method_name : @preference.shipping_methods_long_desc_int[key.to_s])                      
       
      -}    
    %br 
%hr  
.actions
  = submit_tag 'Save', :class=>"button"
  = link_to 'Cancel', preferences_path, :class=>"button  white", :style=>""

:javascript
$(document).ready( function() {
  $("#carrier_preference_offer_australia_post").change(function() {
    if(this.checked)
      $(".aus_post_options").show();
    else
      $(".aus_post_options").hide();    
    }
  );
  
  $("#carrier_preference_offer_e_go").change(function() {
    if(this.checked)
      $(".ego_options").show();
    else
      $(".ego_options").hide();    
    }
  );
  if ($('#carrier_preference_offer_australia_post').is(':checked'))
    $(".aus_post_options").show();
  else
    $(".aus_post_options").hide();

  if ($('#carrier_preference_offer_e_go').is(':checked'))
    $(".ego_options").show();
  else
    $(".ego_options").hide();
        
  $('#preference_default_box_size').change(function() {
   switch(this.value)
   {
    case "0":
      break;
    case "1":
      $('#preference_length').val("22.0");
      $('#preference_width').val("16.0");
      $('#preference_height').val("7.7");
      break;
    
    case "2":
      $('#preference_length').val("31.0");
      $('#preference_width').val("22.5");
      $('#preference_height').val("10.2");
      break;
    case "3":
      $('#preference_length').val("40.0");
      $('#preference_width').val("20.0");
      $('#preference_height').val("18.0");
      break;
    case "4":
      $('#preference_length').val("43.0");
      $('#preference_width').val("30.5");
      $('#preference_height').val("14.0");
      break;             
    case "5":
      $('#preference_length').val("40.5");
      $('#preference_width').val("30.0");
      $('#preference_height').val("25.5");
      break;
    case "6":
      $('#preference_length').val("22.0");
      $('#preference_width').val("14.5");
      $('#preference_height').val("3.5");
      break;         
    case "7":
      $('#preference_length').val("14.5");
      $('#preference_width').val("12.7");
      $('#preference_height').val("1.0");
      break;
    case "8":
      $('#preference_length').val("36.3");
      $('#preference_width').val("21.2");
      $('#preference_height').val("6.5");
      break;                                        
   }
  });

    
  $('.hide_node').bind('ajax:success', function(){
     $('.welcome_note').hide();
  });
 
    
});



