= label_tag :off_aus_post, "Offer Australia Post Rates".html_safe
= check_box :carrier_preference, :offer_australia_post
%br
= label_tag :off_ego, "Offer E-Go rates".html_safe
= check_box :carrier_preference, :offer_e_go


%h3 The list of shipping methods you want to offer to international customers for Australia Post
%br
%table
  %tr(class="header") 
    %td Shipping Methods
    %td Description to show to customer <span class='has-tip' data-width='280' title='Provide a shorter description for your customers and include estimated delivery time ideally.'>?</span>
    %td Offer this choice to customer<span class='has-tip' data-width='280' title='Allow customers to pick this option'>?</span>
  - Preference.AusPostParcelServiceListInt.each {|key, value|
  %tr 
    %td 
      = value
    %td
      = text_field_tag("shipping_methods_desc_int[#{key}]", @preference.shipping_methods_desc_int[key.to_s].nil? ? value : @preference.shipping_methods_desc_int[key.to_s])        
    %td
      = check_box_tag("shipping_methods_int[#{key}]", value=1, @preference.shipping_methods_allowed_int[key.to_s])
  -}    
%br 
%h3 The list of shipping methods you want to offer to domestic customers for Australia Post
%br
%table(class="twelve")
  %tr(class="header") 
    %td Shipping Methods
    %td Description to show to customer<span class='has-tip' data-width='280' title='Provide a shorter description for your customers and include estimated delivery time ideally.'>?</span>
    %td Offer this choice to customer <span class='has-tip' data-width='280' title='Allow customers to pick this option'>?</span>  
  - Preference.AusPostParcelServiceListDom.each {|key, value|
  %tr 
    %td 
      = value
    %td
      = text_field_tag("shipping_methods_desc_dom[#{key}]", @preference.shipping_methods_desc_dom[key.to_s].nil? ? value : @preference.shipping_methods_desc_dom[key.to_s])        
    %td
      = check_box_tag("shipping_methods_dom[#{key}]", value=1, @preference.shipping_methods_allowed_dom[key.to_s])
  -}    
.actions
  = submit_tag 'Save', :class=>"button"
  = link_to 'Cancel', preferences_path

:javascript
$(document).ready( function() {

  $('#preference_default_box_size').change(function() {
   switch(this.value)
   {
    case "0":
      break;
    case "1":
      $('#preference_length').val("22.0");
      $('#preference_width').val("16.0");
      $('#preference_height').val("7.7");
      break;
    
    case "2":
      $('#preference_length').val("31.0");
      $('#preference_width').val("22.5");
      $('#preference_height').val("10.2");
      break;
    case "3":
      $('#preference_length').val("40.0");
      $('#preference_width').val("20.0");
      $('#preference_height').val("18.0");
      break;
    case "4":
      $('#preference_length').val("43.0");
      $('#preference_width').val("30.5");
      $('#preference_height').val("14.0");
      break;             
    case "5":
      $('#preference_length').val("40.5");
      $('#preference_width').val("30.0");
      $('#preference_height').val("25.5");
      break;
    case "6":
      $('#preference_length').val("22.0");
      $('#preference_width').val("14.5");
      $('#preference_height').val("3.5");
      break;         
    case "7":
      $('#preference_length').val("14.5");
      $('#preference_width').val("12.7");
      $('#preference_height').val("1.0");
      break;
    case "8":
      $('#preference_length').val("36.3");
      $('#preference_width').val("21.2");
      $('#preference_height').val("6.5");
      break;                                        
   }
  });

    
  $('.hide_node').bind('ajax:success', function(){
     $('.welcome_note').hide();
  });
 
    
});



