= form_tag "/shipping_calculations", :method => "get" do

  - if @australia_post_api_connection.domestic
    = label_tag :shipping_type
    = label_tag(:shipping_type_regular, "regular")
    = radio_button_tag(:shipping_type, "regular")
    = @australia_post_api_connection.weight
    = label_tag(:shipping_type_priority, "priority")
    = radio_button_tag(:shipping_type, "priority")
    = @australia_post_api_connection.height
  - else
    = label_tag :shipping_type
    = label_tag(:shipping_type_air, "air mail")
    = radio_button_tag(:shipping_type, "air mail")
    = @australia_post_api_connection.weight
    = label_tag(:shipping_type_sea, "sea mail")
    = radio_button_tag(:shipping_type, "sea mail")
    = @australia_post_api_connection.height
