= form_for @australia_post_api_connection, remote: true do |f|
  - if @australia_post_api_connection.errors.any?
    #error_explanation
      %h2= "#{pluralize(@australia_post_api_connection.errors.count, "error")} prohibited this australia_post_api_connection from being saved:"
      %ul
        - @australia_post_api_connection.errors.full_messages.each do |msg|
          %li= msg

  - flash.each do |key, msg|
    - case key
    - when :error
      %div{:class => 'alert-box alert'}
    - when :notice
      %div{:class => 'alert-box'}
    - else
      %p= msg
      %a{:href => '#', :class => 'close'}&times;

  .row
    %div
      .field#country-select
        = f.label :country_code, "Select country of shipping destination"
        = f.select :country_code, @countries,  {:selected => "Australia"}, {:style=>"padding-top:5px;height:30px"}
      %br
      .field#postcode
        = f.label :"Please enter a postcode", { :class => "error" }
        = f.label :to_postcode, "Enter your Australia Postcode", :style=>"margin-left:40px;"
        = f.number_field :to_postcode
      %br  
      .actions
        = f.submit 'Calculate', :style=>"margin-left:230px;font-size:15px;font-weight:bold;"

      / this is the container for the ajax results
      #shipping-prices

      / these are calculated in yaml and returned to us
      / so these fields can remain hidden
      .field.hidden
        = f.label :weight
        = f.number_field :weight

      .field.hidden
        = f.label :blanks
        = f.number_field :blanks

      .field.hidden
        = f.label :height
        = f.number_field :height

      .field.hidden
        = f.label :width
        = f.number_field :width

      .field.hidden
        = f.label :length
        = f.number_field :length

      .field.hidden
        = f.label :from_postcode
        = f.number_field :from_postcode

      .field.hidden
        %input#tokentag{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}
