= form_for @australia_post_api_connection do |f|
  - if @australia_post_api_connection.errors.any?
    #error_explanation
      %h2= "#{pluralize(@australia_post_api_connection.errors.count, "error")} prohibited this australia_post_api_connection from being saved:"
      %ul
        - @australia_post_api_connection.errors.full_messages.each do |msg|
          %li= msg

  .field.hidden
    / this is calculated in yaml and returned to us
    / so this field can remain hidden
    = f.label :weight
    = f.number_field :weight

  %dl.tabs
    %dd.active
      %a{ :href => '#simple1' }
        Simple Tab
    %dd
      %a{ :href => '#simple2' }
        Simple Tab 2

  %ul.tabs-content
    %li.active#simple1Tab
      .field
        = f.label :country_code
        = f.select :country_code, @countries
    %li#simple2Tab
      .field
        = f.label :postcode
        = f.number_field :postcode


  .actions
    = f.submit 'Save'
