<%= form_tag load_new_products_cached_product_index_path do %>
  <%= submit_tag "Get New Products" %>
<% end %>

<%= form_tag update_all_cached_product_index_path do %>
  <% @cached_products.each_with_index do |cached_product,i| %> 
  <h2>
    <%=cached_product.product_name%>
  </h2>
    <%= fields_for "cached_products[#{i}]", cached_product do |pf| %>
       <%= pf.hidden_field :id %>
       <%= pf.hidden_field :product_id %>
       <%= pf.hidden_field :shop_id %>
       <div>
       <label>Height(cm):</label> <%= pf.text_field :height, :value => (number_with_precision(pf.object.height, :precision => 2) || 0) %>
       </div>
       <div>
       <label>Width(cm): </label> <%= pf.text_field :width, :value => (number_with_precision(pf.object.width, :precision => 2) || 0) %>
       </div>
       <div>
       <label>Length(cm): </label><%= pf.text_field :length, :value => (number_with_precision(pf.object.length, :precision => 2) || 0)%>       
       </div>
       
    <% end %>
    <hr/>
  <% end %>
  <%= submit_tag %>
  
<% end %>


