= form_for @preference, :url=>preferences_path(), :method => :put do |f|
  - unless (flash[:notice].nil?)
    %div(class="alert-box") 
      = flash[:notice]
  - if @preference.errors.any?
    #error_explanation
      %div(class="alert-box alert")= "#{pluralize(@preference.errors.count, "error")}. Your change is not saved."
      %ul
        - @preference.errors.full_messages.each do |msg|
          %li= msg          
  %fieldset
    = f.label :origin_postal_code, "Enter the Australian Postal Code your items would be shipping from <span class='has-tip' data-width='280' title='This will be passed to Australia Post for calculation purpose.'>?</span>".html_safe
    = f.text_field :origin_postal_code
    = f.label :default_weight, "Enter the default product weight to used in calculation when there is no weight stored for items <span class='has-tip' data-width='280' title='If you choose not to use weight in Shopify, enter a default weight to pass to Australia Post for calculation.'>?</span>".html_safe
    = f.text_field :default_weight
    %span(class="postfix") kg
    %br 
    = f.label :default_charge, "Enter the fallback price to charge for shipping if Australia Post is not available <span class='has-tip' data-width='380' title='If Australia Post is down for whatever reason, we need to keep checkout working so we do not stop customers from purchasing. Enter a default shipping amount to charge. Specify an amount that you think will cover your cost most of the time.'>?</span>".html_safe
    = f.text_field :default_charge
  %br
  %fieldset
    = f.label :height, "Enter the default size of your shipping containers <br/>(Height, Width, Depth)<span class='has-tip' data-width='280' title='You can specify container size for products individually. This size is only used when none is specified.'>?</span>".html_safe
    %span(class="prefix") H
    = f.text_field :height
    %span(class="postfix") cm
    %br 
    = f.label :width, "", :class=>"hidden-prefix"
    %span(class="prefix") W
    = f.text_field :width
    %span(class="postfix") cm
    %br
    = f.label :length, " ", :class=>"hidden-prefix"
    %span(class="prefix") D  
    = f.text_field :length
    %span(class="postfix") cm
    %br
    = f.label :container_weight, "Enter the weight of your shipping container in kg<span class='has-tip' data-width='300' title='The weight of the container will be included when calculating shipping.'>?</span>".html_safe
    = f.text_field :container_weight
    %span(class="postfix") kg
    %br
    = f.label :items_per_box, "The maximum number of items that can fit in the box<span class='has-tip' data-width='300' title='When there are multiple items ordered, enter the number of items that can fit in your default shipping container. We can calculate the cost of shipping using multiple containers.'>?</span>".html_safe
    = f.text_field :items_per_box    
  %br  
  = f.label :shipping_methods_allowed, "The list of shipping methods you want to offer to customers"
  %table(class="twelve")
    - Preference.AusPostParcelServiceList.each {|key, value|
    %tr 
      %td 
        = value
      %td
        = check_box_tag("shipping_methods[#{key}]", value=1, @preference.shipping_methods_allowed[key.to_s])
    -}
    
  %br  
  %fieldset
    = f.label :surchange_percentage, "Enter the surcharge percentage<br/> to add on top of shipping<span class='has-tip' data-width='280' title='If you want to add a charge on top of the shipping cost, enter the percentage here.'>?</span>".html_safe
    = f.text_field :surchange_percentage
    %span(class="postfix") %
  .actions
    = f.submit 'Save', :class=>"button"
    = link_to 'Cancel', preferences_path
    
