= form_for @preference, :url=>preferences_path(), :method => :put do |f|
  - unless (flash[:notice].nil?)
    %div(class="alert-box") 
      = flash[:notice]
  - if @preference.errors.any?
    #error_explanation
      %div(class="alert-box alert")= "#{pluralize(@preference.errors.count, "error")}. Your change is not saved."
      %ul
        - @preference.errors.full_messages.each do |msg|
          %li= msg
  = f.label :carrier, "Select the shipping carrier to use for calculation"
  = @preference.carrier
  = f.select(:carrier, client_carrier_choices, {include_blank: true}, :onchange=>"carrier_selected(this.value)")
  %p(id="more-carriers")
    %b More carrier support coming soon!
  #main-body
    - unless @preference.carrier.blank?
      = render :partial =>  carrier_partial_for(@preference.carrier)
:javascript
  function carrier_selected(select_carrier) 
  {
  if (select_carrier =="") return;

    jQuery.ajax({
        url: "/preferences/carrier_selected",
        type: "POST",
        data: {"carrier" : $("#preference_carrier").val()},
        dataType: "html",
        success: function(data) {
      
          jQuery("#main-body").html(data);
        }
      });  
  }

