= form_for @preference, :url=>preferences_path(), :method => :put do |f|
  - if @preference.errors.any?
    #error_explanation
      %h3= "#{pluralize(@preference.errors.count, "error")} prohibited this preference from being saved:"
      %ul
        - @preference.errors.full_messages.each do |msg|
          %li= msg
  = f.label :origin_postal_code, "Enter the Postal Code your items would be shipping from:"
  = f.text_field :origin_postal_code
  = f.label :default_weight, "Enter the default product weight to used in calculation if not specified in Shopify:"
  = f.text_field :default_weight
  %span(class="postfix") kg
  %br
  = f.label :surchange_percentage, "Enter the surchange percentage to add on top of shipping:"
  = f.text_field :surchange_percentage
  %span(class="postfix") %
  .actions
    = f.submit 'Save', :class=>"button"
    = link_to 'Cancel', preferences_path
    
