%p#notice= notice

%table
  = @preference.attributes.each do |pref_key|
    %tr
      %td= pref_key
      %td= @preference.value(pref_key) 
= link_to 'Edit', edit_preferences_path(@preference)
\|
= link_to 'Back', preferences_path
