{{ 'update_loader_and_submit.js' | asset_url | script_tag }}
{{ 'inject_shipping_calculator.js' | asset_url | script_tag }}
{{ 'xdr.js' | asset_url | script_tag }}

<!-- These are our api overrides -->
{{ 'ajaxify-shop.js' | asset_url | script_tag }}

{% include "add-to-cart" %}
<div id="indicator"></div>
<div id="shipping-calculator"></div>
<div id="results"></div>

<!-- calculate the weight and grab us a calculator! -->
<script>

  $("#cartform").find('input[type=submit]').on('click', function (e) {
    if ($(e.target).attr('name') == 'checkout') {
      if ($('.item.shipping').length == 0) {
        // there no Shipping items in the cart
        e.preventDefault();
        $('#shipping-calculator-info p').text("Please select a destination for shipping.")
      }
    } else {
      console.log("it worked!")
      //do something else
    }
  });


  $(document).ready(function() {


    // TODO a customer certainly shouldn't be able to checkout before this has happened
    $.when(remove_shipping_item()).done(function() {
      var total_weight = 0;
      var total_blanks = 0;
      {% for item in cart.items %}
        {% assign item_title = item.title | downcase %}
        {% if item_title != "shipping" %}
          {% if item.grams != 0 %}
            total_weight = total_weight + {{ item.grams }} * {{ item.quantity }};

          {% else %}
            total_blanks = total_blanks + 1 * {{ item.quantity }};
          {% endif %}
        {% endif %}
      {% endfor %}
      var datahash = { weight: total_weight / 1000, blanks: total_blanks };
      update_loader_and_submit("GET", datahash, function(data) { inject_shipping_calculator(data); });
    });
  });

</script>
