%nav.top-bar
  %ul
    %li.name
      = link_to 'Shopify Demo App', '/', :class => 'brand'
    %li.toggle-topbar
      %a{:href => "#"}
  %section
    - if shop_session
      %ul.left 
        %li= link_to("Preferences", preferences_url)
      %ul.right
        %li.has-dropdown
          = link_to raw(shop_session.url+' <b class="caret"></b>'), "https://#{shop_session.url}", :class => 'shop_name dropdown-toggle', :'data-toggle' => 'dropdown', :'data-target' => '#'
          %ul.dropdown
            %li= link_to raw('Storefront'), "http://"+shop_session.url, :target => 'blank'
            %li= link_to raw('Shopify Admin'), "http://"+shop_session.url+"/admin", :target => 'blank'
            %li.divider
            %li= link_to raw('Logout'), logout_path, :method => :delete
